.header__text_wrap {
    line-height: 25px;
    width: 100%;
    z-index: 100;
    background: #d9e1e6;
    color: #83949c;
    text-align: center;
}
.width-wrapper{
    margin: auto;
    width: 1000px;
    text-align: center;
}
.header__text-welcome{
    position: relative;
    display: inline-block;
}
.header__text-close{
    float: right;
    margin-right: 60px;

}
.logo-line-wrapper{
    text-align: center;
}
.header__logo{
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}
.header__cart_btn{
    float: right;
    border: 2px solid;
    border-radius: 1px;
    border-color: burlywood;
    width: 150px;
    height: 50px;
    margin-top: 14px;
}
.header__cart_btn-text{
    text-transform: uppercase;
}
.header__cart_btn:hover{
    background: burlywood;

}
.header__currency-flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(../images/country-flags.png) no-repeat;
    background-position: -144px -154px;
}
.header__currency{
    float: left;
    margin-top: 28px;
}
.header__currency-select{
    text-transform: uppercase;
    border:none;
}
.menu__category{
    display: inline-block;
    padding: 10px 35px;

    text-transform: uppercase;
}
.header__menu {
    border-bottom: solid 1.2px;
    border-top: solid 1.2px;
    border-color: #e8e8e8;
}
.aside__reviews-h{
    text-transform: uppercase;
}
.menu__like{
    width: 35px;
    float: right;
    padding-top: 10px;

}
.menu__like-icon{

    padding-left: 5px;
    border-right: dotted 2px;
    border-color: #9e9e9e;
    border-spacing: 15px 0px;
    padding-right: 10px;
    background: url(../images/heart.png) no-repeat;
    background-size: 19px;
}
.menu__search{
    width: 35px;
    padding-top: 10px;
    float: right;

    padding-left: 9px;
}
.menu__search-icon{
    background: url(../images/search.png) no-repeat;
    background-size: 20px;
}
.menu__more{
    padding-top: 10px;
    float: left;

}
.menu__more-icon{
    background: url(../images/menu.png) no-repeat;
    background-size: 16px;
    width: 16px;
}
.slide{
    float: left;
    padding: 15px;
}
.slide-image{
    height: 113px;
    width: 113px;
    border: solid 1px;
    border-color: #c3c3ad;
}
.content{
    width: 580px;
}
.content__wrapper{
    overflow: hidden;
}
.showcase__view-image {
    height: 580px;
    width: 552px;
}
.aside {
    width: 395px;
    float: right;
    padding-left: 25px;
}
.product__wrapper{
    padding-top: 50px;
}
.aside__goback-text{
    float: left;
}
.aside__topic {
    float: left;
}
.aside__topic-text{
    font-family: 'Lato', sans-serif;
    padding-top: 5px;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
.aside__rating {
    float: left;
    width: 75px;
    height: 24px;
    background: url(../images/star.png) repeat-x;
}
.aside__rating-fill{
    width: 57px;
    height: 24px;
    background: url(../images/fill_star.png) repeat-x;
}
.aside__reviews{
    margin-right: 82px;
    float: right;
}
.aside__reviews-text{
    padding-right: 5px;
}
.aside__price{
    float: left;
    padding-top: 10px;
    width: 400px;
    text-align: left;
}
.aside__price-text{
    font-size: 35px;
    color: #568686;
}
.aside__information {
    float: left;
    padding-top: 15px;
}
.information__item{
    text-align: left;
    padding-top: 5px;
}
.information__item-text{
    margin: 0;
}
.information__item-bluetext{
    text-decoration: none;
    color: #568585;
}
.information__item-bluetext:visited{
    text-decoration: none;
    color: #568585;
}
.aside__about {
    padding-top: 30px;
    float: left;
    text-align: left;
}
.aside__list {
    float: left;
    text-align: left;
}
.aside__list-ul {
    -webkit-padding-start: 16px;
}
.aside__list-li{
    color: #c6c6c6;
    padding-top: 5px;
}
.list__item-span{
    color:#000;
}
.aside__choose{
    width: 395px;
    float: left;
    text-align: left;
    padding-top: 20px;
}
.choose__chooser{
    float: left;
    padding-right: 20px;
    width: 110px;
}
.choose__chooser-text{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.choose__input{
    padding-top: 15px;
}
.choose__inputer{
    border: solid 1px;
    border-color: #bdbdbd;
    padding-bottom: 8px;
    padding-top: 8px;
}
.choose__inputernum{
    border: solid 1px;
    border-color: #bdbdbd;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 30px;
    height: 15px;
}
.choose__inputer-text{
    color: #a3a3a3;
    margin-left: 10px;
}
.choose__chooser {
    float: left;
    padding-right: 20px;
    width: 140px;

}
.choose__choosernum {
    float: left;
    width: 73px;
}
.choose__interface{
    width: 31px;
    float: right;
    height: 31px;
    margin-right: 9px;
    text-align: center;
    border: solid 1px #bdbdbd;
}
.interface__up{
    height: 15px;
    color: #cacaca;
}
.interface__down{
    height: 15px;
    border-top: 1px solid #bdbdbd ;
    color: #cacaca;
}
.choose__inputer:after {
    content: '\25BE';
    float: right;
    margin-right: 6px;
    color: #cacaca;
}
.interface__up:after {
    content: '\25B4';
}
.interface__down:after {
    content: '\25BE';
}
.aside__clear {
    float: left;
    padding-top: 34px;
    width: 500px;
}
.aside__clear-text{
    font-weight: 800;
    text-decoration: underline;
    font-size: smaller;
    text-transform: uppercase;

}
.aside__addtocartbtn{
    display: inline-block;
    background: #000;
    width: 180px;
    height: 40px;
    margin-top: 25px;
    padding-bottom: 3px;
    padding-top: 4px;
}
.aside__addtocartbtn-text{
    color: #fff;
    font-size: smaller;
    text-align: center;
    text-transform: uppercase;
}
.aside__addtowishlistbtn{
    border: 1px solid;
    border-radius: 1px;
    border-color: #bdbdbd;
    display: inline-block;
    background: #fff;
    width: 180px;
    text-align: center;
    margin-top: 28px;
    margin-left: 20px;
}
.aside__addtowishlistbtn-text{
    font-size: smaller;
    text-align: center;
    padding-top: 4px;
    font-weight: bold;
    text-transform: uppercase;
}
.aside__addtowishlistbtn-img {
    margin-top: -4px;
}
.aside__share {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #cacaca;
    border-top: solid 1px #cacaca;
}
.aside__share-text{
    font-size: smaller;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}
.ya-share2, .ya-share2 * {
    line-height: normal;
    float: right;
    margin-top: 2px;
    margin-left: 15px;
}
.page {
    overflow: hidden;
    padding-bottom: 100px;

}
.footer {
    padding-bottom: 15px;
    border-top: solid 1px #cacaca;
    text-align: center;
    padding-top: 15px;
}
.footer__copyright-text{
    color:  #a3a3a3 ;
}
a ,p ,span{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
}